.toggler{
	cursor: help;
}
.slider{
	display:none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #aaa;

    padding: 5px 5px;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	width: 60%;
	font-size: 1.0em;
}
.up, .down{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 5px 5px;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px #000;
	cursor: help;
	width: 160px;
}
.collapseSlider{
/*    background: url(min.gif) no-repeat left top;*/
	display:none;	
}
.sliderExpanded .collapseSlider{
/*    background: url(min.gif) no-repeat left top;
    padding-left: 10px;*/
	display:block;
}
.sliderExpanded .expandSlider{
/*    background: url(plus.gif) no-repeat left top;
    padding-left: 10px;*/
	display:none;
}